### Since Power BIs Mapping Tool doesn't like City and State names, let's try Longitude and Latitude

In [1]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
from time import sleep

C:\Users\nolan\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
geolocator = Nominatim(user_agent="MyApp")
location = geolocator.geocode("Athens, Georgia")

In [3]:
print("The latitude of the location is: ", location.latitude)
print("The longitude of the location is: ", location.longitude)

The latitude of the location is:  33.9597677
The longitude of the location is:  -83.376398

In [4]:
location

Location(Athens-Clarke County Unified Government, Athens-Clarke County, Georgia, United States, (33.9597677, -83.376398, 0.0))

In [5]:
breweries = pd.read_csv("breweries.csv")
breweries.head()

,Unnamed: 0,Unnamed: 0.1,name,city,state,city_long_lat
0,0,0,NorthGate Brewing,Minneapolis,MN,"(44.9772995,-93.2654692)"
1,1,1,Against the Grain Brewery,Louisville,KY,"(38.2542376,-85.759407)"
2,2,2,Jack's Abby Craft Lagers,Framingham,MA,"(42.2773177,-71.4165905)"
3,3,3,Mike Hess Brewing Company,San Diego,CA,"(32.7174202,-117.1627728)"
4,4,4,Fort Point Beer Company,San Francisco,CA,"(37.7790262,-122.419906)"

In [6]:
city_list = []
for n in range(len(breweries)):
    city = breweries.iloc[n]['city'] + ',' + breweries.iloc[n]['state']
    city_list.append(city)

In [7]:
breweries[106:110]

,Unnamed: 0,Unnamed: 0.1,name,city,state,city_long_lat
106,106,106,Glabrous Brewing Company,Pineland,ME,"(43.894483199999996,-70.2425469357766)"
107,107,107,Bonfire Brewing Company,Eagle,CO,"(39.6161124,-106.7172844)"
108,108,108,Thomas Hooker Brewing Company,Bloomfield,CT,"(42.5945771,-97.6486591)"
109,109,109,"Woodstock Inn, Station & Brewery",North Woodstock,NH,"(44.0303449,-71.6859143)"

#### This code searches for the coordinates of cities by name through the geopy library, using an if statement to prevent misspellings from breaking the code

In [8]:
city_long_lat_list = []
for city in city_list:
    city_location = geolocator.geocode(city, timeout=10000)
    if city_location == None:
        city_long_lat_list.append(None)
    else:
        city_long_lat = f"({city_location.latitude},{city_location.longitude})"
        city_long_lat_list.append(city_long_lat)
    sleep(1)

In [9]:
len(city_list)

558

In [10]:
len(city_long_lat_list)

558

#### This is where I manually fix the misspelled city names and replace the nones in the coordinates

In [11]:
city_long_lat_list.index(None)

293

In [12]:
city_list[293]

'Northamtpon, MA'

In [13]:
city_list[293] = 'Northampton, MA'

In [14]:
city_location = geolocator.geocode(city_list[293], timeout=10000)
city_long_lat = f"({city_location.latitude},{city_location.longitude})"
city_long_lat

'(42.3178989,-72.6311006)'

In [15]:
city_long_lat_list[293] = '(42.3178989,-72.6311006)'

In [16]:
city_long_lat_list.index(None)

314

In [17]:
city_list[314]

'Bucryus, MO'

In [18]:
city_list[314] = 'Bucyrus, MO'

In [19]:
city_location = geolocator.geocode(city_list[314], timeout=10000)
city_long_lat = f"({city_location.latitude},{city_location.longitude})"
city_long_lat

'(37.3442143,-92.0168233)'

In [20]:
city_long_lat_list[314] = '(37.3442143,-92.0168233)'

In [21]:
city_long_lat_list.index(None)

ValueError: None is not in list

### Now we just match up the coordinates with the dataframe and send it back to CSV form for use in Power BI

In [22]:
breweries['city_long_lat'] = city_long_lat_list

In [23]:
breweries.head()

,Unnamed: 0,Unnamed: 0.1,name,city,state,city_long_lat
0,0,0,NorthGate Brewing,Minneapolis,MN,"(44.9772995,-93.2654692)"
1,1,1,Against the Grain Brewery,Louisville,KY,"(38.2542376,-85.759407)"
2,2,2,Jack's Abby Craft Lagers,Framingham,MA,"(42.2773177,-71.4165905)"
3,3,3,Mike Hess Brewing Company,San Diego,CA,"(32.7174202,-117.1627728)"
4,4,4,Fort Point Beer Company,San Francisco,CA,"(37.7790262,-122.419906)"

In [25]:
breweries = breweries.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

In [26]:
# And now we've got the Longitudes and Latitudes
breweries.head()

                        name           city state              city_long_lat
0         NorthGate Brewing     Minneapolis    MN   (44.9772995,-93.2654692)
1  Against the Grain Brewery     Louisville    KY    (38.2542376,-85.759407)
2   Jack's Abby Craft Lagers     Framingham    MA   (42.2773177,-71.4165905)
3  Mike Hess Brewing Company      San Diego    CA  (32.7174202,-117.1627728)
4    Fort Point Beer Company  San Francisco    CA   (37.7790262,-122.419906)

In [27]:
breweries.to_csv("breweries.csv")